<div class="container-header">
    <div class="logo">
        HackerRank Clone
    </div>
    <div class="menu-container">
        <div class="menuHome"> Home </div>
        <div class="menuHome"> Courses </div>
        <div class="menuLogin"><a href="/auth/login"> Login </a></div>
    </div>
    
</div>