<div class="container-center--homepage">
    <div class="container--home--page">
         <div class="container--home--leftSide"> 
             <p>Our platform offers a range of courses designed for both beginners and advanced programmers. Whether you're just starting out or looking to expand your skills, we have something for you. Our courses cover topics such as: </p>
             <ul>
                 <li>Programming fundamentals</li>
                 <li>Data structures and algorithms</li>
                 <li>Object-oriented programming</li>
                 <li>Web development            </li>
                 <li>Mobile app development</li>
                 <li>Artificial intelligence and machine learning</li>
             </ul>
 
         </div>
             <div class="register-wrapper">
                
                 <h3 class="register-title">Login Page</h3>
                     <p>Create an account using the form below.</p>
                     <div class="registerLogin">
                         <form action="/auth/login/" method="POST" class="form-section">
                         <input type="email" name="email" placeholder="Enter your email"/>
                         <input type="password" name="password" placeholder="Enter your password" />
                         <input type="submit" value="Login"/>
                         </form>
                     </div>
             </div>
         
     </div>
 </div>